<!DOCTYPE html>
<html lang="en"
      xmlns="html://www.w3.org/1999/xhtml"
      xmlns:th=https://www.thyneleaf.org">
<head>
	<title>TaskManager</title>
</head>

<body>
<h1>Register new User</h1>
<form id = "registerUserForm"
      th:action="@{/user/register}"
      method="POST">	
     <table>
	<tr>
		<td><label for="userNameInput">Username</label></td>
		<td><input id=userNameInput type="text" placeholder="USERNAME" required
			   th:field="${credentialsForm.userName}"/></td>
		<td th:if="${#fields.hasErrors('credentialsForm.userName')}"
		    th:errors="${credentialsForm.userName}" th:style="color:red"></td>
	</tr>
	<tr>
		<td><label for="passwordInput">Password</label></td>
		<td><input id="passwordInput" type="password" placeholder="PASSWORD" required
			   th:field="${credentialsForm.password}"/></td>
		<td th:if="${#fields.hasErrors('credentialsForm.password')}"
		    th:errors="${credentialsForm.password}" th:style="'color:red'"></td>
	</tr>
	<tr>
		<td><label for="firstNameInput">Firstname</label></td>
		<td><input id="firstNameInput" type="text" placeholder="FIRST NAME" required
			   th:field="${usersForm.firstName}"/></td>
		<td th:if="${#fields.hasErrors('userForm.firstName')}"
		    th:errors="${userForm.firstName}" th:style="'color:red'"></td>
	</tr>
	<tr>
		<td><label for="lastNameInput">Username</label></td>
		<td><input id="lastNameInput" type="text" placeholder="LAST NAME" required
			   th:field="${userForm.lastName}"/></td>
		<td th:if="${#fields.hasErrors('userForm.lastName')}"
		    th:errors="${userForm.lastName}" th:style="'color:red'"></td>
	</tr>
	<tr>
		<td>
			<button type="submit">Register</button>
		</td>
	</tr>
	</table>
</form>
</body>
</html>