<!DOCTYPE html>
<html lang="en"
      xmlns="html://www.w3.org/1999/xhtml"
      xmlns:th=https://www.thyneleaf.org">
<head>
	<title>TaskManager</title>
</head>

<body>
<h1>Register new User</h1>
<form id="registerUserForm"
      th:action="@{/user/register}"
      method="POST">	
     <table>
	<tr>
		<td><label for="userNameInput">Username</label>
		<td><input id=userNameInput type="text" placeholder="USERNAME" required
			   th:field="${credentialsForm.userName}"/></td>
		<td th:if="${#fields.hasErrors('credentialsForm.userName')}"
		    th:errors="${credentialsForm.userName}" th:style="color:red"></td>
	</tr>
	<tr>
		<td><label for="passwordInput">Password</label>
		<td><input id=passwordInput type="password" placeholder="PASSWORD" required
			   th:field="${credentialsForm.password}"/></td>
		<td th:if="${#fields.hasErrors('credentialsForm.password')}"
		    th:errors="${credentialsForm.password}" th:style="color:red"></td>
	</tr>
		<td><label for="firstNameInput">Firstname</label>
		<td><input id=firstNameInput type="text" placeholder="FIRST NAME" required
			   th:field="${credentialsForm.firstName}"/></td>
		<td th:if="${#fields.hasErrors('credentialsForm.firstName')}"
		    th:errors="${credentialsForm.firstName}" th:style="color:red"></td>
	</tr>
		<td><label for="lastNameInput">Username</label>
		<td><input id=lastNameInput type="text" placeholder="LAST NAME" required
			   th:field="${credentialsForm.lastName}"/></td>
		<td th:if="${#fields.hasErrors('credentialsForm.lastName')}"
		    th:errors="${credentialsForm.lastName}" th:style="color:red"></td>
	</tr>
	<tr>
		<td>
			<button type="submit">Register</button>
		</td>
	</tr>
</form>
</body>
</html>